In [26]:
from sklearn import set_config

set_config(transform_output="pandas")

In [27]:
import pandas as pd
train_data = pd.DataFrame({
    'Fruit': ['Apple',"Apple", 'Banana', "Banana",'Cherry']
})
test_data = pd.DataFrame({
    'Fruit': ['Apple',"Apple", 'Banana', "Banana", 'Grape',"Strawberry"]
})

##### min_frequency Parameter gibt an, dass eine Kategorie mindestens so oft vorkommen muss, da sie ansonsten als selten betrachtet wird!

In [28]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder( handle_unknown='infrequent_if_exist', sparse_output=False, min_frequency=2)
encoder.fit(train_data)

encoder.transform(train_data)

# print(encoder.transform(train_data))

   Fruit_Apple  Fruit_Banana  Fruit_infrequent_sklearn
0          1.0           0.0                       0.0
1          1.0           0.0                       0.0
2          0.0           1.0                       0.0
3          0.0           1.0                       0.0
4          0.0           0.0                       1.0

In [29]:
encoder.transform(test_data)
# print(encoder.transform(test_data))

   Fruit_Apple  Fruit_Banana  Fruit_infrequent_sklearn
0          1.0           0.0                       0.0
1          1.0           0.0                       0.0
2          0.0           1.0                       0.0
3          0.0           1.0                       0.0
4          0.0           0.0                       1.0
5          0.0           0.0                       1.0

### Werte die vorher unbekannt waren werden in der Extrasplate infrequent aufgenommen!