In [1]:
from sklearn import set_config

set_config(transform_output="pandas")

In [2]:
import pandas as pd
train_data = pd.DataFrame({
    'Fruit': ['Apple',"Apple", 'Banana', "Banana",'Cherry']
})
test_data = pd.DataFrame({
    'Fruit': ['Apple',"Apple", 'Banana', "Banana", 'Grape',"Strawberry"]
})

In [3]:
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder(
    handle_unknown="use_encoded_value",
    unknown_value=-1,
)
encoder.fit(train_data)

encoder.transform(train_data)

# print(encoder.transform(train_data))

   Fruit
0    0.0
1    0.0
2    1.0
3    1.0
4    2.0

In [4]:
encoder.transform(test_data)
# print(encoder.transform(test_data))

   Fruit
0    0.0
1    0.0
2    1.0
3    1.0
4   -1.0
5   -1.0